.show-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.48s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  z-index: 3000;
}

.hidden-left {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.48s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.show-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  transform: translateX(0);
  transition: transform 0.48s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  z-index: 3000;
}

.hidden-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  transform: translateX(100%);
  transition: transform 0.48s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}


.show-opaque {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: rgba(250, 249, 247, 0.8);
  transition: opacity 666ms ease 0s;
  z-index: 999;
}

.hidden-opaque {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: rgba(250, 249, 247, 0.8);
  transition: opacity 666ms ease 0s;
}

